@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --web-page-bgcolor: #F5F5DC;
    --base-dark-color: #654321;
    --base-light-color: #D2893F;
    --special-dark-color: #6DC35C;
    --special-light-color: #69DF81;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --web-page-bgcolor: #2F4F4F;
      --base-dark-color: #20B2AA;
      --base-light-color: #57FAC3;
      --special-dark-color: #5760FA;
      --special-light-color: #5793FA;
    }
  }
  .base_height {
    height:  calc(100vh - 48px);
  }
}

@layer components {
  .view_menu {
    @apply w-12 h-full relative;
  }
  .view_menu::before,
  .view_menu::after {
    content: '';
    @apply block absolute w-8 border-black will-change-transform -translate-x-1/2 transition-transform duration-200 ease-in;
    top: 50%;
    left: 50%;
  }
  .view_menu::before {
    @apply h-4 -translate-y-1/2 border-y-[3px];
  }
  .view_menu::after {
    @apply -translate-y-1/2 border-t-[3px];
  }
  .view_menu::before.close_menu,
  .view_menu::after.close_menu {
    @apply transition-transform duration-200 ease-in;
  }
  .view_menu::before.close_menu {
    @apply border-b-0 h-0 will-change-transform origin-center rotate-45;
  }
  .view_menu::after.close_menu {
    @apply will-change-transform origin-center -rotate-45;
  }
  .accounts:focus-within label {
    @apply text-baseLight;
  }
  .down_arrow::after {
    content: '';
    @apply border-x-transparent border-x-[10px] border-t-[10px] border-t-black transition-transform duration-300 ease-in;
  }
}